<div>
<h3>Peliculas Disponibles</h3>
<style>
@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
</style>
<div class="card-columns">
<div class="card text-white bg-secondary mb-3" style="max-width: 18rem;" *ngFor = "let p of peliculas; let i=index;">
  <div class="card-header text-capitalize"><h5><strong>{{p.titulo}}</strong></h5></div>
  <img class="card-img-top border-dark" src="{{p.imagen}}" alt="Imagen {{p.titulo}}">
  
  <div class="card-body">
    
    <p class="card-text">{{p.descripcion}}</p>
    <h6 class="badge">Genero: {{p.genero}}</h6>
    <h6 class="badge">Puntaje: {{p.valoracion}}</h6>
    <div>
    <a routerLink = "/pelicula-details/{{p.id}}" class="btn btn-secondary">Detalles</a>
    <a routerLink = "/pelicula-rent/{{p.id}}" class="btn btn-secondary">Alquilar</a>
    </div>
  </div>
</div>
</div>
</div>
