<!-- Cards -->
<div class="container-fluid text-center">
    <div class="p-3 mt-5 mb-5">
        <div class="title p-3">
            <h5>Resultados {{ peliculas.length}}</h5>
        </div>
        <div>
            <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="" nextLabel=""></pagination-controls>
        </div>
        <div class="card-columns">

            <div class="card text-white bg-secondary mb-2 border-success shadow p-3 mb-5 bg-secondary rounded" style="max-width: 18rem;"
                *ngFor="let p of peliculas | paginate: { itemsPerPage: 5, currentPage: p, totalItems: peliculas.length }">
                <div class="card-header text-capitalize bg-dark">
                    <h5><strong>{{p.titulo}}</strong></h5>
                </div>
                <div>
                    <img class="card-img-top" src="{{p.imagen}}" alt="Imagen {{p.titulo}}" routerLink="/pelicula-details/{{p.id}}">
                </div>
                <!-- Text Overlay -->
                <div *ngIf="p.alquilada" class="card-img-overlay p-5">
                    <h4 class="card-title"><span class="badge badge-danger" routerLink="/pelicula-details/{{p.id}}">Alquilada</span></h4>
                </div>
                <!-- Text Overlay -->
                <div class="card-body ">

                    <div routerLink="/pelicula-details/{{p.id}}" class="card-text">
                        <p class="text-white-50 font-italic"><span>{{p.descripcion | resumen }}</span></p>
                    </div>
                    <ul class="list-group text-center">
                        <li class="list-group-item list-group-item-info">
                            <div class="badge">Valoración: {{p.valoracion | number:'1.1'}}
                                <span class="stars"><span [ngStyle]="{ 'width': getStars(p.valoracion) }"></span></span>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-primary">
                            <div>
                                <p class="card-text small">Genero: {{p.genero}}</p>
                            </div>
                        </li>
                        <li class="list-group-item list-group-item-action">
                            <div class="btn-group">
                                <button routerLink="/pelicula-details/{{p.id}}" class="btn btn-info">Detalles</button>
                                <button *ngIf="usuario && !p.alquilada && usuario.id != 1" routerLink="/pelicula-rent/{{p.id}}"
                                    class="btn btn-primary">Alquilar</button>
                                <button *ngIf="usuario && usuario.id == 1" class="btn btn-primary" routerLink="/pelicula-edit/{{p.id}}">Editar</button>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </div>
        <div>
            <pagination-controls (pageChange)="p = $event" directionLinks="true" autoHide="true" responsive="true"
                previousLabel="" nextLabel=""></pagination-controls>
        </div>
    </div>

</div>
<!-- Cards -->