<div *ngIf="!peli" class="container-fluid p-5">
  <h2><strong>
      <fa name="fa-sync" animation="spin"></fa> Cargando...
    </strong> </h2>
</div>
<div *ngIf="peli" class="container-fluid p-5">
  <h2>{{titulo}}</h2>
  <form>
    <div class="form-group">
      <label for="edTitulo">Titulo</label>
      <input type="text" class="form-control" id="edTitulo" name="edTitulo" placeholder="Ingrese el título" [(ngModel)]="peli.titulo">
    </div>
    <div class="form-group">
      <label for="edDescripcion">Descripción</label>
      <input type="text" class="form-control" id="edDescripcion" name="edDescripcion" placeholder="Ingrese la descripcion"
        [(ngModel)]="peli.descripcion">
    </div>
    <div class="form-group">
      <label for="edImagenUrl">Url Imagen</label>
      <input type="text" class="form-control" id="edImagenUrl" name="edImagenUrl" placeholder="Ingrese el url de la imagen"
        [(ngModel)]="peli.imagen">
    </div>
    <div class="form-group">
      <label for="edGenero">Género</label>
      <select class="form-control" id="edGenero" name="edGenero" placeholder="Ingrese el genero" [(ngModel)]="peli.genero">
          <option *ngFor="let g of generos" [ngValue]="g.name">{{g.name}}</option>
      </select>
    </div>
      <div class="btn-group">
      <button type="button" class="btn btn-primary btn-color btn-bg-color btn-sm col-xs-2" (click)="guardarPeli()">Aceptar</button>

      <button *ngIf="usuario && usuario.id==1" type="button" class="btn btn-secondary btn-color btn-bg-color btn-sm col-xs-2"
        [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Cancelar</button>

      <button *ngIf="usuario && usuario.id==1 && peli.id!=-1" type="button" class="btn btn-outline-danger btn-color btn-bg-color btn-sm col-xs-2"
        [routerLink]="['/borrar-peli/'+peli.id]" routerLinkActive="router-link-active">Borrar</button>
    </div>

  </form>
</div>