<div class="container p-5">
  <div *ngIf="!peli">Procesando...</div>
  <div *ngIf="peli">
    <h2>Has Alquilado: <strong class="text-capitalize"> {{peli.titulo}} </strong> </h2>
    <div class="row">

      <div class="col-4"><img src="{{peli.imagen}}" class="img-fluid img-thumbnail"></div>
      <div class="col-4">
        <div><span><strong>Muchas Gracias!!</strong></span></div>
      </div>
      <div class="col-1 text-justify">
        <div class="badge badge-info"><span>Género: {{peli.genero}}</span></div>
        <div class="badge badge-info"><span>Alquilada: {{peli.cantidadAlquileres}} veces</span></div>
        <div class="badge badge-info"><span>Valoración: {{peli.valoracion | number: '1.1'}} </span></div>
        <div class="badge badge-success"><span>Disponible: {{peli.alquilada == false ? 'Si' : 'No'}}</span></div>
        <div class="btn-group">
          <div class="p-1"><button routerLink="/" class="btn btn-info">Volver</button></div>
        </div>
      </div>
    </div>
  </div>
</div>