<!-- NavBar -->
<div class="container-fluid fixed-top">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" routerLink="/landing">
      <fa name="film" size="lg"></fa> "El Ochentoso" VideoClub
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item active" *ngIf="!usuario">
          <form class="form-inline">
            <button class="btn btn-sm btn-outline-success mr-3" type="button" routerLink="/login">Login</button>
          </form>
        </li>
        <li class="nav-item active" *ngIf="usuario">
          <button class="btn btn-sm btn-outline-success mr-3" type="button" (click)="desloguear()">Salir</button>
        </li>
        <li class="nav-item" *ngIf="usuario && usuario.id!=1">
          <a class="badge badge-success">Usuario: {{usuario.nombre}} {{usuario.apellido}}</a>
        </li>
        <li class="nav-item" *ngIf="!usuario">
            <a class="badge badge-secondary">  &#706; Ingresa para alquilar</a>
          </li>
        <li class="nav-item" *ngIf="usuario && usuario.id==1">
          <a class="badge bg-light" [routerLink]="['dashboard']" routerLinkActive="router-link-active">
            Panel Admin: {{usuario.nombre}} {{usuario.apellido}}</a>
        </li>
      </ul>
      <form *ngIf="buscador" name="coolForm" class="form-inline my-2 my-lg-0">
        <input #query (keyup.enter)="buscarTermino(query.value)" class="form-control mr-sm-2" placeholder="Buscar...">
      </form>
    </div>
  </nav>
</div>
<!-- NavBar -->

<router-outlet></router-outlet>

<!-- Footer -->
<div class="container-fluid fixed-bottom bg-dark">
  <footer class="footer text-center py-3 text-white-50 h-25">
    <!-- Copyleft -->
    <div class="small">Terminal de consultas para Video Club versión 1.0</div>
    <div class="footer-copyright">© 2018 Copyleft:
      <a href="https://github.com/AnibalFlores/"> Aníbal H. Flores</a>
    </div>
    <!-- Copyleft -->
  </footer>
</div>
<!-- Footer -->